<div id ="table">
    <table class="table caption-top my-2 md-12 table-sm">

      <caption style=" text-align:center "> Calculos Parciales </caption>
      <thead>
        <tr>
          <th class="col">Espesor Pet Concreto</th>
          <th class="col">Espesor Pet Plomo</th>
          
        </tr>
      </thead>

      <tbody class="table-group-divider">
        <tr>
            <th >{{ pet_concrete }}</th>
            <th >{{ pet_lead }}</th>   
          </div>
        </tr>
      </tbody>
    </table>
  </div>
 

          







