.container{
    height: auto !important;
}

.navbar {
    font-family:    'Segoe UI', Tahoma, Geneva, Verdana, sans-serif !important;
    
}

.navbar-nav > li {
    padding-left: 1rem;
}

[class*="container overflow-hidden"] {
    padding-top: 3rem;
    padding-left: 3rem;
    padding-right: 3rem;

}

.col-12 >.p-3  {
    
    padding-left: 3rem;
    padding-right: 3rem;
    border-radius: 5px;
    font-family:  Verdana, sans-serif ;
    font-variant-caps: titling-caps;
    text-align: center !important;
    font-size: large;
    color: azure;
    
}

button {
    margin-top: 2%;
    
}

table {
    table-layout: fixed;
    width: 100%;
    text-align: center;
    
}





th,td {
    word-wrap: break-word;

}

td {

    padding-top:10px;
    
} 
/*  

/* .tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black; 
  }
  
  .tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
   
    position: absolute;
    z-index: 1;
  }
  
  .tooltip:hover .tooltiptext {
    visibility: visible;
  } */




